/*
 * Globals
 */

 :root {
  --main-system-color: #ae86df;
  --lines-color: linear-gradient(#ae86df 50%,transparent 0);
  --btn-resize-color: linear-gradient(#ae86df,#ae86df) left 58%,linear-gradient(180deg,#ae86df 0,#ae86df) 58% top;
  --btn-close-color: ;
 }


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

 .window {
	margin: auto;
	max-width: 1200px;
 }
 
 /*.window {
	background-color: #fff;
	border: .1em solid var(--main-system-color);
	flex-direction: column;
	font-family: Inconsolata,Menlo,Chicago,Geneva;
	margin: 1rem;
	min-width: 320px;
	overflow: hidden;
}

 .title-bar {
	align-items: center;
	background: var(--lines-color);
	background-clip: content-box;
	background-size: 6.6666666667% 13.3333333333%;
	display: flex;
	flex: none;
	height: 1.5rem;
	margin: .1rem 0;
	padding: .2rem .1rem;
}

.title-bar button.resize {
	background: var(--btn-resize-color);
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 60% 4px,4px 60%;
}

.title-bar button {
	background-color: #fff;
	border: 4px solid var(--main-system-color);
	cursor: pointer;
	display: block;
	height: 40px;
	margin: 0 .2rem;
	position: relative;
	transform: scale(.5);
	width: 40px;
}

.details-bar {
	border: .1rem solid #ae86df;
	border-width: .1rem 0;
	font-weight: 100;
	padding: .4rem .8rem;
}
*/

 .window-pane {
  text-align: center;
 }

 footer{
  position: fixed;
  width: 100%;
  height: 50px;
  margin: auto;
  bottom: 0;
  text-align: center;
  }

.cover-container {
  max-width: 42em;
}

.container {
  margin: auto;
}

.btn {
  margin: 5px 5px 5px 5px;
  border-radius: 12px;
}

.bg-green {
	background-color: greenyellow;
}

.bg-red {
	color: antiquewhite;
	background-color: red;
}

.download-btn {
  margin-top: 15px;
}

/*
 * Header
 */

/*
* Images
*/

.chave-pix {
    width: 150px;
}

.brand {
    width: 50px;
    display: inline-block;
}

/*
* Others
*/

video {
  margin: auto;
  max-width: 640px;
  display: block;
  border: solid 1px rgba(17,17,17,1);
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(17,17,17,1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(17,17,17,1);
  box-shadow: 0px 5px 10px 0px rgba(17,17,17,1);
}